<table bgcolor="6F8F9D" cellspacing="1" cellpadding="2" border="2" width="100%">
    <tr valign="center">
        <td style="color: blue" > <centeR>Creat la Scoala Informala de IT</br>By GOGA VICTOR ALEX</br> Toate drepturile rezervate </br>
            &copy;</br></td>
    </tr>
</table>