<TAble width="100%" CENTER border="2" bgcolor="#004445">
    <tr HEIGHT="170">
        <td valign="center">
            <h1 style="color: #6fb98f"   > <p style="font-size: 35"><p style="font 'MS Gothic' "><center>ALEX GOGA BLOG</p></p</h1></td>
    </tr >
</table>